<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Weather Station</title>
        <meta name="description" content="Home weather station powered by Arduino.">
        <meta name="author" content="Brian Shoemaker">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
        <link href="./library/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css">
            .hero-unit {
                margin-top: 20px;
                padding: 20px;
            }
        </style>
        <link href="./library/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="./css/style.min.css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script type="text/javascript">
        
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-2808579-5']);
          _gaq.push(['_setDomainName', 'shoe.io']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
    </head>
    <body>
    
        <div id="wrap">
            {{#displayOfflineMsg}}
            <div id="projectMessage" class="alert alert-block">
                <h4>This project is no longer being updated.</h4>
                <p>
                    As of XXXX the home weather station project has been taken offline.
                </p>
            </div>
            {{/displayOfflineMsg}}
            <div class="jumbotron masthead">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-5">
                            <h3>Temperature</h3>
                            <h1>{{data.lastReading.tempF}} F</h1>
                        </div>
                        <div class="col-sm-5">
                            <h3>Humidity</h3>
                            <h1>{{data.lastReading.humidity}}%</h1>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <small>
                        Home weather station powered by Arduino. <br />
                        Total uptime: {{duration}}.
                    </small>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Temperature</h3>
                        <p>
                            Hourly temperature readings over the past seven days.
                        </p>
                        <div id="chart1"><i class="fa fa-cog fa-spin fa-2x"></i> Loading...</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Temperature vs. Humidity</h3>
                        <p>
                            Comparing temperature and humidity change over the past seven days.
                        </p>
                        <div id="chart2"><i class="fa fa-cog fa-spin fa-2x"></i> Loading...</div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="margin-top:20px;">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Project Details</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            This project combines an 
                            <a href="https://www.adafruit.com/products/50">Arduino Uno R3</a>, 
                            <a href="https://www.adafruit.com/products/385">DHT temperature-humidity sensor</a>,
                            <a href="http://amzn.com/B003B22UR0">20x4 LCD display</a> and an
                            <a href="https://www.adafruit.com/products/201">Ethernet shield</a> to create a basic in-home weather station.
                        </p>
                        <p>
                            The Arduino checks the temperature and humidity (and light level via a photoresistor) every five seconds. 
                            If the temperature has gone up since the last reading, the RBG LED turns red. If the temperature goes down, the LED turns blue. 
                            If no change occurred, the LED is green. Current conditions are displayed on the LCD display. Every hour the Arduino connects to an API (Node.js) and saves the reading to a database (MongoDB). 
                            It also <a href="http://www.twitter.com/shoe_sandbox">tweets</a> the current conditions. 
                            The charts on this site compile the readings from the previous seven days. 
                        </p>
                        <p>
                            There is a seasonal correlation between temperature and humidity in my home. 
                            In the Winter, there is an inverse relationship (when temperatures go up, humidity goes down, and vice versa).
                            In the Summer, temperature and humidity seem to loosely correlate with each other. 
                            I suspect this is evidence of the dehumidifier that runs when the central air system is running. 
                        </p>
                        <p>
                            Finally, the timing on the Arduino seems to &quot;drift&quot;. I programmed the Arduino to save a reading every hour, using the number 
                            of milliseconds the program has been running as a counter. Over the first week of this project the 
                            counter was off by about 31 minutes. I corrected this problem by querying the current time from a 
                            <a href="http://tf.nist.gov/tf-cgi/servers.cgi">NIST Internet Time Service</a>, resetting the interval each hour.
                        </p>
                        <p>
                            All code is available on <a href="https://github.com/shoemaker/weather-station">GitHub</a>. 
                            Follow hourly updates at <a href="http://twitter.com/shoe_sandbox">@shoe_sandbox</a>. 
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <a href="./img/weatherStation.jpg">
                            <img src="./img/weatherStation_small.jpg" class="img-thumbnail img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div id="push"></div>
        </div>

        <footer>
            <h4>
                Made by <a href="http://brianshoemaker.com">Brian Shoemaker</a>
            </h4>
            <p>
                Built with <a href="http://www.arduino.cc">Arduino</a>, <a href="http://nodejs.org/">Node.js</a>, <a href="http://www.mongodb.org/">MongoDB</a>, <a href="http://mustache.github.com/">Mustache</a>, <a href="https://developers.google.com/chart/">Google Charts</a> and <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>
        </footer>   
        
        <script src="./library/jquery/jquery.min.js"></script>
        <script src="./library/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="./js/script.min.js"></script>
        <script type="text/javascript">
            var readings = {{{data.readings}}};
            var readingsPercent = {{{data.readingsPercent}}};
            var extremes = { minTemp : {{data.minTemp}}, maxTemp : {{data.maxTemp}}, minHumidity : {{data.minHumidity}}, maxHumidity : {{data.maxHumidity}} };
        </script>       
    </body>
</html>

